.container {
  width: 100%;
  margin: 0 auto;
  padding-inline: spacing(20);

  @include respond-to('tablet-landscape') {
    padding-inline: spacing(30);
    max-width: 962px;
  }

  @include respond-to('laptop') {
    padding-inline: spacing(40);
    max-width: 1280px;
  }
}