.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: spacing(20);
  border-radius: var(--radius-full);
  background: var(--color-primary);
  width: 100%;
  max-width: 312px;
  height: 72px;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: spacing(24);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    li a {
      color: var(--color-on-primary);
      padding: spacing(10);
    }
  }
}

.transparent {
  background: transparent;
}