.cartTitle {
  font-size: var(--text-md);
  font-weight: var(--font-weight-regular);
  padding-inline: spacing(8);
}

.lines {
  display: flex;
  flex-direction: column;
  gap: spacing(10);
}

.line {
  display: flex;
  gap: spacing(8);
  padding-block: spacing(8) spacing(16);
  border-bottom: 1px solid var(--color-border-weak);
  font-size: var(--text-sm);
}

.thumb {
  position: relative;
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: var(--radius-1);
  background: var(--color-primary);
  border: 1px solid var(--color-white);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.thumbImage {
  object-fit: contain;

}

.lineBody {
  flex: 1;
  min-width: 0;
}

.lineName {
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
}

.lineMeta {
  color: var(--color-black);
}

.lineActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: spacing(6);
}

.remove {
  color: var(--color-black) !important;
  padding: 0;
  cursor: pointer;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: spacing(10);
}

.summaryRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--text-md);
  color: var(--color-primary);

  .subTotalLabel {
    font-weight: var(--font-weight-semibold);
    line-height: normal;
  }
}

.checkout {
  padding: spacing(10);
  color: var(--color-bg) !important;
  max-height: 32px;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: spacing(16);
  margin-top: spacing(17);

  p {
    font-size: var(--text-2xl);
    color: var(--payment-card-meta);
  }

  .emptyLink {
    font-size: var(--text-md);
    background: var(--color-primary);
    padding: spacing(10);
    border-radius: var(--radius-1);
    color: var(--color-on-primary);
    height: 32px;
    width: 139.367px;
    @include flex-center;
  }
}

.drawerFooter {
  border-top: 1px solid var(--color-border-weak);
}