/* Primitive tokens */
:root {
    /* Colors */
    /* Brand Primitives - Portfolio */
    --color-charcoal-500: #151312;

    --color-orange-500: #F46C38;
    --color-orange-600: #DE6231;
    --color-orange-700: #EC4B0D;


    /* Brand Primitives - Shop */
    --color-sacred-green-500: #1D4E1A;
    --color-sacred-green-600: #2D5A27;
    --color-sacred-green-650: rgba(29, 78, 26, 0.7);

    --color-bleach-white-500: #FCF3D9;
    --color-bleach-white-600: #FFECB8;
    --color-bleach-white-650: rgba(255, 236, 184, 0.7);


    --color-black: #000;
    --color-white: #fff;

    --color-neutral-50: #F5F5F5;
    --color-neutral-200: #D4D4D4;
    --color-neutral-300: #CDCDCD;
    --color-neutral-350: #D9D9D9;
    --color-neutral-400: #B2B2B2;
    --color-neutral-500: #6A6B6E;
    --color-neutral-550: #757575;
    --color-neutral-600: #434343;
    --color-neutral-700: #303030;

    --color-red-500: #ef4444;
    --color-green-500: #22c55e;
    --color-yellow-500: #f59e0b;
    --color-blue-500: #3b82f6;


    --color-black-alpha-50: rgba(0, 0, 0, 0.5);
    --color-white-alpha-20: rgba(255, 255, 255, 0.2);

    /* Spacing */
    --spacing: 4px;

    /* Radius */
    --radius-1: calc(var(--spacing) * 1);
    --radius-2: calc(var(--spacing) * 2);
    --radius-3: calc(var(--spacing) * 3);
    --radius-4: calc(var(--spacing) * 4);
    --radius-5: calc(var(--spacing) * 5);
    --radius-6: calc(var(--spacing) * 6);
    --radius-full: 9999px;

    /* Typography */
    --font-family-sans: var(--font-sans);
    --text-xs: calc(var(--spacing) * 3);
    --text-sm: calc(var(--spacing) * 3.5);
    --text-md: calc(var(--spacing) * 4);
    --text-lg: calc(var(--spacing) * 4.5);
    --text-xl: calc(var(--spacing) * 5);
    --text-2xl: calc(var(--spacing) * 6);
    --text-3xl: calc(var(--spacing) * 7.5);
    --text-4xl: calc(var(--spacing) * 9);
    --text-5xl: calc(var(--spacing) * 12);

    --text-display-xs: calc(var(--spacing) * 6);
    --text-display-sm: calc(var(--spacing) * 8);
    --text-display-md: calc(var(--spacing) * 10);
    --text-display-lg: calc(var(--spacing) * 12);
    --text-display-xl: calc(var(--spacing) * 16);
    --text-display-2xl: calc(var(--spacing) * 18);
    --text-display-3xl: calc(var(--spacing) * 24);

    /* Font weight */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    
    /* Line height */
    --line-height-none: 1;
    --line-height-tight: 1.1;
    --line-height-snug: 1.25;
    --line-height-normal: 1.4;
    --line-height-relaxed: 1.5;
}

/* Semantic tokens */
:root {
    --color-bg: var(--color-neutral-50);
    --color-surface: var(--color-white);
    --color-text-primary: var(--color-neutral-900);
    --color-text-secondary: var(--color-neutral-600);
    --color-text-tertiary: var(--color-neutral-500);
    --color-text-disabled: var(--color-neutral-400);
    --color-border: var(--color-neutral-200);
    --color-border-strong: var(--color-neutral-400);
    --color-brand-primary: var(--color-sacred-green-500);
    --color-brand-primary_hover: var(--color-sacred-green-600);
    --color-danger: var(--color-red-500);
    --color-success: var(--color-green-500);
    --color-warning: var(--color-yellow-500);
    --color-info: var(--color-blue-500);

    --color-backdrop: var(--color-black-alpha-50);
    --color-disabled: var(--color-neutral-200);
}

/* Component-specific tokens */
:root {
    /* Button */
    --button-primary-bg: var(--color-brand-primary);
    --button-primary-bg-hover: var(--color-brand-primary-hover);
    --button-primary-text: var(--color-white);

    /* Input */
    --input-bg: var(--color-surface);
    --input-border: var(--color-border);
    --input-border-focus: var(--color-brand-primary);

    /* Card */
    --card-bg: var(--color-surface);
    --card-border: var(--color-border);
}



/* .portfolio {
  --color-bg: var(--color-neutral-50);
  --color-surface: var(--color-white);

  --color-text-primary: var(--color-neutral-900);
  --color-text-secondary: var(--color-neutral-600);
  --color-text-tertiary: var(--color-neutral-500);
  --color-text-disabled: var(--color-neutral-400);

  --color-border: var(--color-neutral-200);
  --color-border-strong: var(--color-neutral-400);

  --color-brand-primary: var(--color-orange-500);
  --color-brand-primary-hover: var(--color-orange-600);
} */

.portfolio-dark {
    --color-bg: var(--color-charcoal-500);
    --color-surface: var(--color-neutral-600);
    --color-bg-accent: var(--color-neutral-400);
    --color-bg-accent_hover: var(--color-neutral-600);
    --color-text-primary: var(--color-white);
    --color-text-secondary: var(--color-neutral-300);
    --color-text-on-bg-secondary: var(--color-neutral-50);
    --color-text-tertiary: var(--color-neutral-500);
    --color-text-disabled: var(--color-neutral-600);

    --color-border: var(--color-neutral-550);
    --color-border-strong: var(--color-neutral-700);
    --color-border-weak: var(--color-neutral-350);

    --color-brand-primary: var(--color-orange-500);
    --color-brand-primary-hover: var(--color-orange-600);
}
