.stat {
  display: flex;
  width: 128px;
  flex-direction: column;

  .value {
    font-size: calc(var(--spacing) * 16);
    font-weight: var(--font-weight-semibold);
    color: var(--color-white);
    line-height: var(--line-height-none);
  }

  .label {
    font-size: calc(var(--spacing) * 5);
    color: var(--color-text-on-bg-secondary);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-normal);
    text-transform: uppercase;
  }
}