%titleHeading {
  font-size: var(--text-display-sm);
  line-height: var(--line-height-none);
  font-weight: var(--font-weight-bold);
}

.layout {
  display: grid;
  gap: spacing(32);
  padding-block: spacing(64);
  align-items: start;

  @include respond-to("laptop") {
    grid-template-columns: minmax(0, 1fr) 390px;
    gap: spacing(48);
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: spacing(48);
    min-width: 0;


    // Section
    .section {
      display: flex;
      flex-direction: column;
      gap: spacing(20);

      // exclude the first section from having a top border and padding
      &:not(:first-child) {
        padding-top: spacing(32);
        border-top: 1px solid var(--color-border-weak);
      }
    }

    .sectionTitle {
      @extend %titleHeading;
    }

    .sectionText {
      font-size: var(--text-xs);
      color: var(--color-fg-muted);
    }

    .inlineLink {
      border: none;
      background: none;
      font-size: inherit;
      color: var(--color-fg);
      text-decoration: underline;
      cursor: pointer;
    }

    .fieldset {
      margin: 0;
      border: none;

      .legend {
        padding-inline: spacing(8);
        font-size: var(--text-sm);
        color: var(--color-primary);
        margin-bottom: spacing(12);
      }
    }

    .stack {
      display: flex;
      flex-direction: column;
      gap: spacing(12);
      border: 1px solid var(--color-border-muted);
      border-radius: var(--radius-4);
      padding: spacing(16);
    }

    .row2,
    .row3 {
      display: grid;
      gap: spacing(16);
      grid-template-columns: 1fr;

      @include respond-to("tablet-portrait") {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .row3 {
      @include respond-to("tablet-portrait") {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  .summaryTitle {
    @extend %titleHeading;
  }

  // Payment

  .cards {
    display: flex;
    flex-direction: column;
    gap: spacing(11);
  }

  .card {
    display: flex;
    align-items: center;
    gap: spacing(12);
    cursor: pointer;
  }

  .card {
    padding: spacing(8) spacing(16);
    border: 1px solid var(--color-border-muted);
    border-radius: var(--radius-2);
    background: var(--color-surface);

    &[data-selected] {
      border-color: var(--color-primary);
    }

    .cardDetails {
      display: flex;
      flex-direction: column;
      gap: spacing(6);
    }
  }

  .newCard {
    margin-top: spacing(9);
    font-size: var(--text-sm);
  }

  .cardName {
    display: block;
    color: var(--payment-card-name);
    font-size: var(--text-sm);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-snug);
  }

  .cardMeta {
    display: block;
    font-size: var(--text-xs);
    color: var(--payment-card-meta);
    line-height: var(--line-height-snug);
  }
}

// Order Summary
.summary {
  display: flex;
  flex-direction: column;
  gap: spacing(16);
  padding: spacing(16);
  border: 1px solid var(--color-border-muted);
  border-radius: var(--radius-4);
  background: var(--color-surface);

  @include respond-to("laptop") {
    position: sticky;
    top: spacing(40);
  }

  .summaryLines {
    display: flex;
    flex-direction: column;
    gap: spacing(12);
    margin: 0;
    padding: 0 0 spacing(12);
    border-bottom: 1px solid var(--color-border-muted);
    list-style: none;
  }

  .summaryLine {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: spacing(12);
  }

  .summaryName {
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
  }

  .summaryMeta {
    font-size: var(--text-sm);
    color: var(--color-primary);
  }

  .unitPrice {
    font-weight: var(--font-weight-medium);
    color: var(--color-primary);
  }

  .totals {
    display: flex;
    flex-direction: column;
    gap: spacing();
  }

  .totalRow {
    display: flex;
    align-items: center;
    justify-content: space-between;

    dt {
      color: var(--color-fg-muted);
      font-weight: var(--font-weight-semibold);
      font-size: var(--text-sm);
    }

    dd {
      font-weight: var(--font-weight-medium);
      color: var(--color-primary);
      font-size: var(--text-sm);
    }

    dt,
    dd {
      margin: 0;
    }

    &[data-total] {
      margin-top: spacing(12); // -4 gap from .totals
      padding-top: spacing(16);
      border-top: 1px solid var(--color-border-muted);

      dt,
      dd {
        font-weight: var(--font-weight-bold);
        color: var(--color-primary);
        font-size: var(--text-md);
      }
    }
  }

  button[data-block] {
    font-weight: var(--font-weight-bold);
  }
}

// Payment result
.resultBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: spacing(16);
  padding-inline: spacing(8);
  padding-top: spacing(71);
  text-align: center;
}

.resultTitle {
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-normal);
  margin-top: spacing(8);

  &[data-status="success"] {
    color: var(--color-success);
  }

  &[data-status="failed"] {
    color: var(--color-danger);
  }
}

.resultText {
  color: var(--color-black);
  margin-top: spacing(16);
}

.resultActions {
  gap: spacing(16);
  width: 100%;
  display: grid;

  &[data-status="failed"] {
    grid-template-columns: 1fr 1fr;
  }

  .resultPrimary {
    @include flex-center;
    flex: 1;
    padding: spacing(10);
    border-radius: var(--radius-1);
    background: var(--color-primary);
    color: var(--color-surface);
    font-size: var(--text-md);

    &[data-status="success"] {
      height: 58px;
    }
  }
}