.card {
  background: transparent;
  gap: spacing(4);

  .content {
    display: flex;
    flex-direction: column;
    gap: spacing(8);
  }

  .icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    display: flex;
    place-content: center;
    flex-wrap: wrap;

    svg {
      flex-shrink: 0;
    }
  }
}