.header {
  position: sticky;
  top: 0;
  z-index: var(--z-header);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: spacing(16);
  pointer-events: none;

  > * {
    pointer-events: auto;
    box-shadow:
      0 6px 20px rgb(0 0 0 / 30%),
      0 0 0 1px rgb(255 255 255 / 12%);
  }
}
