.layout {
  display: grid;
  gap: spacing(24);
  padding-block: spacing(64);
  align-items: start;

  @include respond-below('tablet-portrait') {
    padding-block: spacing(32);
  }

  @include respond-to("laptop") {
    grid-template-columns: 282px minmax(0, 1fr);
  }

  .sidebar {
    min-width: 0;

    @include respond-to("laptop") {
      position: sticky;
      top: calc(58px + #{spacing(32)} + #{spacing(24)});
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: spacing(64);
    min-width: 0;

    @include respond-below('tablet-portrait') {
      gap: spacing(40);
    }

    > * {
      scroll-margin-top: calc(58px + #{spacing(32)} + #{spacing(24)});

      @include respond-below('mobile-landscape') {
        scroll-margin-top: spacing(16);
      }
    }
  }
}