.wrap {
  display: inline-flex;
  align-items: center;
  gap: spacing(4);
  cursor: pointer;

  .radio {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    &:checked+.radioCustom {
      border-color: var(--color-primary);
      border-width: 5px;
    }

    &:focus-visible+.radioCustom {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }
  }

  .radioCustom {
    flex: 0 0 auto;
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-fg-muted);
    border-radius: 50%;
  }
}