.header {
  position: sticky;
  top: 0;
  z-index: var(--z-header);
  padding-block: spacing(16);
  pointer-events: none;

  @include respond-below('mobile-landscape') {
    position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    padding-block: spacing(12) calc(#{spacing(12)} + env(safe-area-inset-bottom));
  }

  .inner {
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond-to('mobile-landscape') {
      gap: spacing(4);
    }

    > * {
      pointer-events: auto;
    }

    > nav,
    > button {
      box-shadow:
        0 6px 20px rgb(0 0 0 / 18%),
        0 0 0 1px rgb(255 255 255 / 20%);
    }
  }
}
