.text {
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-normal);
}

.xs {
  font-size: var(--text-xs);
}

.sm {
  font-size: var(--text-sm);
}

.md {
  font-size: var(--text-md);
}

.lg {
  font-size: var(--text-lg);
}

.xl {
  font-size: var(--text-xl);
}

.default {
  color: var(--color-text-secondary);
}

.muted {
  color: var(--color-text-tertiary);
}