.text {
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-normal);
  word-break: break-word;
}

.xs {
  font-size: var(--text-xs);
}

.sm {
  font-size: var(--text-sm);
}

.md {
  font-size: var(--text-sm);

  @include respond-to('tablet-landscape') {
    font-size: var(--text-md);
  }
}

.lg {
  font-size: var(--text-lg);
}

.xl {
  font-size: var(--text-xl);
}

.default {
  color: var(--color-text-primary);
}

.muted {
  color: var(--color-fg-muted);
}